/*========= particle js を描画するエリア設定 ===============*/

#particles-js {
    position: fixed; /*描画固定*/
    z-index: -1; /*描画を一番下に*/
    width: 100%;
    height: 100%;
    background-color: rgb(34, 58, 71); /*背景色*/
  }
  
  #wrapper {
    position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
    z-index: 1; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 120px;
    box-sizing: border-box;
  }
  
  
  /*------------------------------HTML----------------------------*/
  
  html{
      font-size: 100%;
    color: rgb(255, 251, 251);
  }
  body {
      font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
      line-height: 1.8;
      color: rgb(249, 249, 249);
      height: 100%;
  }
  
  /*-----------------------------ヘッダー--------------------*/
  .logo {
      width: 150px;
      margin-top: 20px;
      margin-left: 30px;
  }	
  .main-nav{
      display: flex;
      font-size: 1.25rem;
      flex-wrap: wrap;
      margin-top: 50px;
      list-style: none;
  }
  
  .main-nav li a{
      display: block;
      text-decoration: none;
      color: #fff;
      line-height:1;
  }
  
  .main-nav li{
      margin-bottom:0px;
  }
  
  .main-nav li a{
      
    position: relative;
      
    overflow: hidden;
    padding:20px 80px;
  }
  
  .main-nav li span{
      
    position: absolute;
    left: 50%;
    top:0;
      
    transition: all .5s;
    transform: translate(-50%, 0);
      
    display: block;
    opacity:1;
    white-space: nowrap;
  }
  
  .main-nav li span:nth-child(2){
    opacity:0;
      transform: translate(-50%,100%);
  }
  
  .main-nav li:hover span:nth-child(1){
    opacity:0;
      transform: translate(-50%,-100%);
  }
  
  .main-nav li:hover span:nth-child(2){
    opacity:1;
    transform: translate(-50%, 0);
  }
  .page-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
/*-----------------ページ本文-------------------*/

.sample1 {
    margin:10px; 
    border:5px solid black;
    background-color:gray;
    width:1300px;
    margin-left:130px;

}
.kotira {
  margin:10px;
  text-align: center;
}
.pcname{
  padding-left:100px;
  margin-top: 70px;
}
.price{
  padding-left:100px;
}
#rink {
  font-size: 25px;
  padding-left: 40%;
  margin-bottom: 1000px;
}
#np {
  padding-left: 100px;
}
#npsoko {
  padding-left: 70px;
}
/*------------結果ページの性能表--------------*/

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  table-layout: fixed;
  margin-top: 20px;
}

table tr {
  background-color: #fff;
  border: 1px solid #bbb;
  padding: .35em;
}
table th,
table td {
  padding: 1em 10px 1em 1em;
  border-right: 1px solid #bbb;
}
table th {
  font-size: .85em;
  color: #000
}
table thead tr{
  background-color: #eee;
}
.txt{
  text-align: left;
  font-size: .85em;
  color: #000;
}
.maker{
  text-align: left;
  color: #000;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
    width:100%
  }
  table th{
    background-color: #eee;
    display: block;
    border-right: none;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: .8em;
    position: relative;
    padding: .625em .625em .625em 4em;
    border-right: none;
  }
  
  table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
  .kekkabox {
    display: flex;
    flex-wrap: wrap;
  }
  a:hover {
    color: red;
  }
  
  a:active {
    color: green;
  }
/*-----------------フッター-------------------*/
footer{
    width: 100%;
    background-color: #598ca0c8;
    color: #fff;
    text-align: center;
    padding: 30px 0;
  
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
  }
  footer {
    position: sticky;
    top: 100vh;
  }