@charset "UTF-8";

/* 共通部分
------------------ */
html {
    font-size: 100%;
}
body {
    font-family: "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
	line-height: 1.8;
	color: #000;
}
/*ヘッダー*/
.logo {
    width: 100px;
    margin-top: 14px;
    margin-left: 30px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    flex-wrap: wrap;
    margin-top: 50px;
    list-style: none;
}

.main-nav li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    line-height: 1;
}

.main-nav li {
    margin-bottom: 0px;
}

.main-nav li a {
    position: relative;
    
    overflow: hidden;
    padding: 20px 80px;
}

.main-nav li span{
    position: absolute;
    left: 50%;
    top: 0;

    transition: all .5s;
    transform: translate(-50%, 0);

    display: block;
    opacity: 1;
    white-space: nowrap;
}

.main-nav li span:nth-child(2) {
    opacity:0;
    transform: translate(-50%, 100%);
}

.main-nav li:hover span:nth-child(1) {
    opacity: 0;
    transform: translate(-50%, -100%);
}

.main-nav li:hover span:nth-child(2) {
    opacity:1;
    transform: translate(-50%, 0);
}

.page-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.wrapper{
	margin: 0 auto;
	padding: 0 4%;
}
.home-content{
	text-align: center;
	margin-top: 12%;
}
.big-bg{
	width: 100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center top;

    background-image: url(../img/background.png);
	min-height: 100vh;
}

#title_1 {
    text-align: center;
    color:aliceblue;
    font-size: 40px;
    margin-bottom: 10px;
}

#question {
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 10px;
}

#text_q{
    text-align: center;
    color: #FFF;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 10px;
    
}


#sentaku {
    text-align: center;
    color: #FFF;
    font-size: 30px;
    margin-bottom: 15px;
}

#text_s {
    text-align: center;
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
}

#background {
    background-color: rgba(255,255,255,0.5);
    margin: auto;
    width: 80%;
    min-height: 500px;
    margin-top: 70px;
}

.button15 a {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    border-radius: 50vh;
    transition: 0.3s;
  }
  
  .button15 a::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 50vh;
  }
  
  .button15 a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%) rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
  }
  
  .button15 a:hover {
    text-decoration: none;
    background-color: #cccccc;
  }

  .text_s :hover{
    color: rgb(0, 255, 76);

  }