/*========= particle js を描画するエリア設定 ===============*/

#particles-js {
  position: fixed; /*描画固定*/
  z-index: -1; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: rgb(34, 58, 71); /*背景色*/
}

#wrapper {
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 120px;
  box-sizing: border-box;
}


/*------------------------------HTML----------------------------*/

html{
	font-size: 100%;
  color: rgb(255, 251, 251);
}
body {
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
	line-height: 1.8;
	color: rgb(249, 249, 249);
	height: 100%;
}

/*-----------------------------ヘッダー--------------------*/
.logo {
	width: 150px;
	margin-top: 20px;
	margin-left: 30px;
}	
.main-nav{
    display: flex;
	font-size: 1.25rem;
    flex-wrap: wrap;
    margin-top: 50px;
    list-style: none;
}

.main-nav li a{
    display: block;
    text-decoration: none;
    color: #fff;
	line-height:1;
}

.main-nav li{
    margin-bottom:0px;
}

.main-nav li a{
    
  position: relative;
    
  overflow: hidden;
  padding:20px 80px;
}

.main-nav li span{
    
  position: absolute;
  left: 50%;
  top:0;
    
  transition: all .5s;
  transform: translate(-50%, 0);
    
  display: block;
  opacity:1;
  white-space: nowrap;
}

.main-nav li span:nth-child(2){
  opacity:0;
    transform: translate(-50%,100%);
}

.main-nav li:hover span:nth-child(1){
  opacity:0;
    transform: translate(-50%,-100%);
}

.main-nav li:hover span:nth-child(2){
  opacity:1;
  transform: translate(-50%, 0);
}
.page-header {
	display: flex;
	justify-content: space-between;
	height: 100px;
}
/*-----------------ページ本文-------------------*/




/*-----------------フッター-------------------*/
.wrapper{
  height: 100%;
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
  width: 100%;
  background-color: #598ca0c8;
  color: #fff;
  text-align: center;
  padding: 30px 0;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}